body {
	overflow-y: scroll;
}

/*
 * Paramètres
 */
#editor-settings-button img {
	width: 17px;
	margin-top: 3px;
	vertical-align: top;
}

#setting-font-size {
	width: 50px;
}

#editor-settings-popup h2 {
	margin-left: 0;
	margin-bottom: 20px;
	margin-top: 30px;
}
#editor-settings-popup h2:first-child {
	margin-top: 0;
}

#editor-table {
	width: 100%;
}
#editor-table td {
	vertical-align: top;
}

#editor-left-td {
	width: 160px;
}

#editor-left {
	position: absolute;
}

#ai-name {
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
}

#ai-list {
	width: 160px;
	margin-top: 10px;
	overflow-y: auto;
}

#ai-list .ai {
	padding: 7px;
	margin: 6px 0;
	cursor: pointer;
	color: #555;
	border: 2px solid transparent;
} 
#ai-list .ai:before {
	content: "✔";
	font-weight: bold;
	color: green;
	padding-right: 5px;
}
#ai-list .ai:hover {
	background: #f8f8f8;
	color: black;
}
#ai-list .ai.selected {
	background: white;
	color: black;
	border: 2px solid #777;
}
#ai-list .ai.modified {
	color: red;
}
#ai-list .ai.error:before {
	content: "✘";
	font-weight: bold;
	color: red;
	padding-right: 5px;
}

#ai-stats {
	padding: 2px 6px;
	margin: 10px;
	margin-top: 25px;
	background-color: white;
	font-size: 14px;
}

#comp-level, #comp-cores, #line-count, #char-count {
	font-weight: bold;
}

#line-count-wrapper, #char-count-wrapper {
	font-size: 13px;
}

.editor {
	font-family: "Roboto";
	font-size: 25px;
}

#page .buttons {
	padding-right: 25px;
	padding-left: 10px;
}

#top {
	width: 100%;
}
#top-left {
	padding-left: 30px;
	padding-top: 5px;
}
#buttons {
	text-align: right;
	padding-right: 30px;
}

#code {
	display: none;
}

#compilation {
	position: fixed;
	bottom: 150px; 
	right: 50%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	text-align: center;
	z-index: 1000;
}

#compiling {
 	display: none;
 	padding: 5px 10px;
	border-radius: 2px;
}

#results .good, #results .error {
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	margin: 4px;
}

#results .good {
	color: white;
	background: #2CDC20;
}

#results .error {
	color: white;
	background: #FF6C71;
}

#compiling {
	color: black;
	background: #f2f2f2;
}
#compiling img {
	vertical-align: middle;
}


/* Editor */ 

.CodeMirror {
	border: 1px solid #eee;
	height: auto;
	font-size: 14px;
	max-width: 810px;
}

.editor textarea {
	border: none;
	height: auto;
	font-size: 14px;
	width: 810px;
	max-width: 810px;
	min-height: 700px;
	padding: 5px;
	font-family: monospace;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#editors .line-error {
	position: relative;
}

#editors .line-error:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 20px;
	width: 100%;
	background-image: url("../image/squiggle.gif");
	background-repeat: repeat-x;
	background-position: left bottom;
	vertical-align: text-top;
}
 
#test-popup h3 {
	display: inline-block;
}

#test-popup #test-ais {
	font-size: 16px;
}

#test-popup .leek {
	width: 165px;
	text-align: center;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	opacity: 0.2;
}

#test-popup .leek.enemy {
	width: 120px;
}

#test-popup .leek:hover {
	background-color: white;
	opacity: 0.35;
}

#test-popup .leek.selected {
	opacity: 1;
}

.hint-dialog {
	position: absolute;
	z-index: 100;
	display: none;
	margin: 0;
}

.hint-dialog .hints {
	display: inline-block;
	width: 400px;
	background: white;
	font-family: monospace;
	overflow-y: auto;
	vertical-align: top;
	height: 260px;
	padding: 2px;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	border: 1px solid silver;
}

.hint-dialog .hint.active {
	background: #0a0;
	color: white;
}

.hint-dialog .hint {
	margin: 0;
	padding: 2px 4px;
	white-space: pre;
	color: black;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hint-dialog .details {
	display: inline-block;
	width: 400px;
	overflow-y: auto;
	background: #f2f2f2;
	min-height: 240px;
	max-height: 600px;
	padding: 5px;
	vertical-align: top;
	border: 1px solid silver;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}


.detail-dialog {
	display: none;
	position: absolute;
	padding: 8px;
	background: #f2f2f2;
	width: 350px;
	min-height: 150px;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	border: 1px solid silver;
	z-index: 100;
}